* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container { 
    background: green;
    height: 600px;
    width: 600px;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
}

.white {
    background-color: white;
}

.brown {
    background-color: #654321;
}

.grid-container div {
    outline: 2px solid;
}